[Unit]
Description=Run minecraft update and backup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-minecraft.sh upgrade

[Install]
WantedBy=multi-user.target
